<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">-->
	<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
    <meta charset="utf-8">
    <title>주식회사 굿씽크 홈페이지에 오신걸 환영합니다.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
     <!-- 테이블css -->
    <link href="css/tabel.css" rel="stylesheet">
</head>

<body>
	<!--<h1 th:text="${listMenu}"></h1>-->
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


	<!-- Navbar Start -->
      <header th:replace="fragments/header::headerFragment"></header>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/architecture-g2172dc17c_1280.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h1 class="text-primary text-uppercase mb-3 animated slideInDown">IT TOTAL</h1>
                                <h1 class="display-3 text-white animated slideInDown">BUSINESS PARTNER</h1>
                                <p class="fs-5 text-white mb-4 pb-2">당신의 미래를 만들어가는 기업. 미래, 그 이상을 창조하는 기업.</p>
                                <p class="fs-5 text-white mb-4 pb-2">굿씽크가 만들어나가는 이상입니다.</p>
                            <!--    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/handshake-g04d8cbec2_1280.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                              <h1 class="text-primary text-uppercase mb-3 animated slideInDown">IT TOTAL</h1>
                                <h1 class="display-3 text-white animated slideInDown">BUSINESS PARTNER</h1>
                                <p class="fs-5 text-white mb-4 pb-2">당신의 미래를 만들어가는 기업. 미래, 그 이상을 창조하는 기업.</p>
                                <p class="fs-5 text-white mb-4 pb-2">굿씽크가 만들어나가는 이상입니다.</p>
                               <!-- <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
							 <a href="/company/greetings">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">COMPANY</h5>
                            <p>기업소개</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
							 <a href="/business">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">BUSINESS</h5>
                            <p>주요사업 소개</p>
							 </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
							 <a href="/project/hr-project">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">PROJECT</h5>
                            <p>사업실적 소개</p>
							 </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
							 <a href="/recruit/recruitment">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">RECRUIT</h5>
                            <p>채용절차 소개</p>
							 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    
	
    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">CUSTOMER</h6>
                <h1 class="mb-5">공지사항</h1>
            </div>
           	
    <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
		
	<nav class="navbar navbar-light" style="float: right; margin-right: 5%;">
	  <div class="container-fluid">
	    <form class="d-flex">
			<select class="form-select form-select-lg mb-0" aria-label=".form-select-lg example" style="width: 40%;">
			  <option value="title">제목</option>
			  <option value="con">내용</option>
			  <option value="nm">이름</option>
			</select>

	      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	
     <table>
	    <thead>
	    <tr>
			<ul>
</ul>

	        <th>번호</th>
	        <th>프로젝트명</th>
	        <th>고객사</th>
	        <th>시기</th>
	        <th>조회</th>
	
	    </tr>
	    </thead>
	    <tbody>
	    <tr>
	        <td>공지</td>
	        <td>프로젝트</td>
	        <td>주식회사굿씽크</td>
	        <td>2023.08.01</td>
	        <td>1</td>
	    </tr>
	     <tr>
	        <td>공지</td>
	        <td>프로젝트</td>
	        <td>주식회사굿씽크</td>
	        <td>2023.08.01</td>
	        <td>1</td>
	    </tr>
	     <tr>
	        <td>공지</td>
	        <td>프로젝트</td>
	        <td>주식회사굿씽크</td>
	        <td>2023.08.01</td>
	        <td>1</td>
	    </tr>
	    </tbody>
	</table>
	
	<div>
		<button type="button" class="btn btn-primary" style="margin-right: 5%;float: right;margin-top: 1%;">글쓰기</button>
	</div>
	<nav aria-label="Page navigation example" style="margin-top: 1%; margin-left: 45%;">
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	
    </div>
    </div>
    </div>
    <!-- Categories Start -->
    <!-- Footer Start -->
    
      <Footer th:replace="fragments/footer::footerFragment"></Footer>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>