<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="headerFragment" class="header navbar-fixed-top">
		<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="/index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><img src="/img/gdthink_logo.png"></img></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/index" class="nav-item nav-link active">Home</a>
                 <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">COMPANY</a>
                    <div class="dropdown-menu fade-down m-0">
						<tr th:if="${l.parentId=='M-02'}" th:each="l : ${listMenu}">
							 <a th:href="${l.url}" class="dropdown-item"th:text="${l.menuKorNm}"></a>
						</tr>
                    </div>
                </div>
                 <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BUSINESS</a>
                    <div class="dropdown-menu fade-down m-0">
                        <tr th:if="${l.parentId=='M-03'}" th:each="l : ${listMenu}">
							 <a th:href="${l.url}" class="dropdown-item"th:text="${l.menuKorNm}"></a>
						</tr>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PROJECT</a>
                    <div class="dropdown-menu fade-down m-0">
                        <tr th:if="${l.parentId=='M-04'}" th:each="l : ${listMenu}">
							 <a th:href="${l.url}" class="dropdown-item"th:text="${l.menuKorNm}"></a>
						</tr>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">RECRUIT</a>
                    <div class="dropdown-menu fade-down m-0">
						 <tr th:if="${l.parentId=='M-05'}" th:each="l : ${listMenu}">
							  <a th:href="${l.url}" class="dropdown-item"th:text="${l.menuKorNm}"></a>
						</tr>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CUSTOMER</a>
                    <div class="dropdown-menu fade-down m-0">
						 <tr th:if="${l.parentId=='M-06'}" th:each="l : ${listMenu}">
							  <a th:href="${l.url}" class="dropdown-item"th:text="${l.menuKorNm}"></a>
						</tr>
                    </div>
                </div>
            </div>
             <th:block th:if="${id == null}">
               <a href="/login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOGIN<i class="fa fa-arrow-right ms-3"></i></a>
			 </th:block>
			  <th:block th:if="${id != null}">
               <form action="/logout"method="post">
				   <button class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOGOUT<i class="fa fa-arrow-right ms-3"></i></button>
			   </form>
			 </th:block>
		  <!--  <th:block th:unless="${id != null}">
                <form action="/logout"method="post">
				   <button class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOGOUT<i class="fa fa-arrow-right ms-3"></i></button>
			   </form>
			 </th:block>-->
        </div>
    </nav>
	</div>
	
</html>