<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="headerFragment" class="header navbar-fixed-top">
		<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>GoodThink</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/index" class="nav-item nav-link active">Home</a>
                 <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">COMPANY</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/company/greetings" class="dropdown-item">인사말</a>
                        <a href="/company/history" class="dropdown-item">연혁</a>
                        <a href="/company/diagram" class="dropdown-item">조직도</a>
                        <a href="/company/contact" class="dropdown-item">찾아오시는 길</a>
                    </div>
                </div>
                 <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BUSINESS</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/business" class="dropdown-item">주요사업소개</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PROJECT</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/project/hr-project" class="dropdown-item">HR사업 실적</a>
                        <a href="/project/si-project" class="dropdown-item">SI사업 실적</a>
                        <a href="/project/sol-project" class="dropdown-item">Solution/Infra사업 실적</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">RECRUIT</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/recruit/recruitment" class="dropdown-item">채용절차</a>
                        <a href="/recruit/job-posting" class="dropdown-item">채용정보/공지</a> 
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CUSTOMER</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/customer" class="dropdown-item">공지사항</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
	</div>
	
</html>